<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Game Over</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
  </head>
  <body>

    <div class="container center-align">
      <h1 class="center-align blue-text darken">{{#endMessage}}{{.}}{{/endMessage}}</h1>
      <h3>Would you like to play again?</h3>
      <form class="" action="/yesButton" method="post">
        <button class="btn" type="submit" name="YesButton">Yes</button>
      </form>
      <br>
      <form class="" action="/noButton" method="post">
        <button class="btn red" type="submit" name="NoButton">No</button>
      </form>
    </div>

  </body>
</html>
