<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>fin</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
  </head>
  <body>
    <p class="valign center-align">goodbye.</p>
  </body>
</html>
