body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #002685;
  color: #fffbdd;
}

.flexin {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.flexin h1 {
  text-transform: uppercase;
  color: #002685;
  text-shadow: -1px 1px #fffbdd, 1px -1px #fffbdd, 2px -2px #fffbdd, 3px -3px #fffbdd, 4px -4px #fffbdd;
}
.blankword {
  margin: 50px;
  display: flex;
  justify-content: center;
}
span {
  margin: 10px;
  font-size: 30px;
}
.width {
  width: 210px;
}
.inputLetter {
  text-align: center;
  font-size: 30px;
}
header {
  display: flex;
  flex-direction: column;
}
.used {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.space {
  margin: 10px;
}
.goodbye-message {
  width: 100vw;
  height: 100vh;
}
